.search-bar{
 display: block;
}
.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.left-section{
  display: flex;
  align-items: center;

}
.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.search-bar{
  flex: 1;
  height: 34px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192,192);
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  box-shadow: inset 1px 2px 3px rgba (0,0,0,0,0.05);
  width: 0;
}
.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
  
}
.search-button,
.voice-search-button,
.upload-icon-container,
.apps-container,
.notifications-container
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button{
  height: 38px;
  width: 66px;
  background-color: rgb(240,240,240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192,192);
  margin-left: -1px;
  margin-right: 10px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}
.search-button:hover,
.voice-search-button:hover,
.upload-icon-container:hover,
.apps-container:hover,
.notifications-container:hover,
.current-user
{
  cursor: pointer;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.apps-container .tooltip,
.notifications-container .tooltip
{
  position: absolute;
  background-color: rgb(68, 68, 68);
  color: white;
  bottom: -30px;
  font-family: Roboto, Arial;
  font-size: 13px;
  padding: 5px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-container:hover .tooltip,
.notifications-container:hover .tooltip
{
  opacity: 70%;
}

.search-icon{
  height: 25px;
}
.voice-search-icon{
  height: 24px;
  margin-top: 4px;
 
}
.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none; 
  background-color: rgb(245, 245, 245);
}

.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.hamburger-menu:hover{
  cursor: pointer;
}
.youtube-logo{
  height: 20px;
}
.youtube-logo:hover{
  cursor: pointer;
}
.right-section{
  margin-right: 20px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

}
.theme-toggle{
  position: relative;
  width: 50px;
  height: 26px;
}
.theme-toggle input{
  opacity: 0;
  width: 0;
  height: 0;

}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: 0.4s;
  border-radius: 34px;
  border-style: solid;
  border-width: 2px;
}
.slider::before{
  position: absolute;
  content: "☀️";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 0px;
  background-color: white;
  text-align: center;
  font-size: 13px;
  border-radius: 50%;
  line-height: 20px;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #333;

}
input:checked + .slider::before{
  transform: translateX(20px);
  content: "🌙";
  background-color: #333;
}
.upload-icon{
  height: 24px;
}
.notifications{
  height: 24px;
}
.notifications-icon-container{
position: relative;
}
.notifications-count{
position: absolute;
top: -2px;
right: -5px;
background-color: rgb(209, 0, 0);
color: white;
border-radius: 10px;
font-size: 11px;
font-family: Roboto, Arial;
padding-left: 5px;
padding-right: 5px;
padding-top: 2px;
padding-bottom: 2px;
}
.youtube-apps{
  height: 24px;
}
.current-user{
  height: 32px;
  border-radius: 16px;
}
