.thumbnail{
  width: 100%;
}

.video-creator{
  margin-bottom: 4px;
}
.video-creator,
.video-stats{
color: gray;
font-size: 12px;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;

}
.videocard{
  margin-bottom: 20px;
}
.video-title{
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 10px;
}
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.creator-icon{
    position: relative;
  display: inline-block;
}
.creator-icon:hover{
  cursor: pointer;
}
.creator-tip{
  background-color: white;
  width: 240px;
  padding: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  position: absolute;
  top: 55px;
  z-index: 300;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  transition: opacity 0.15s;
  pointer-events: none;
}
.creator-icon:hover .creator-tip{
  opacity: 1;

}
.creator{
  font-family: Roboto,Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}
.subs{
  font-family: Roboto,Arial;
  font-size: 13px;
  color: gray;
  
}
.video-info{
  width: 200px;
}
.profile-pic{
  width: 36px;
  border-radius: 50px;
  
}
.thumbnail-row{
  margin-bottom: 8px;
  position: relative;
}
.duration{
  background-color: black;
  color: white;
  height: 15px;
  width: 33px;
  font-size: 12px;
  font-family: Roboto, Arial;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: absolute;
  right: 5px;
  bottom: 10px;
  
}
