.thumbnail{
  width: 300px;
  display: block;

}
.Searchbox{
 display: block;
}

.video-creator,
.video-stats{
color: gray;
}
.videocard{
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin-right: 15px;
}
.video-title{
  margin-top: 0;
}
.creator-icon{
  display: inline-block;
  width: 50px;
  vertical-align: top;

}
.video-info{
  display: inline-block;
  width: 200px;
}
.profile-pic{
  width: 40px;
  border-radius: 50px;
  
}
.thumbnail-row{
  margin-bottom: 12px;
}