p{
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.thumbnail{
  width: 300px;
  display: block;

}
.Searchbox{
 display: block;
}
.video-creator{
  margin-bottom: 4px;
}
.video-creator,
.video-stats{
color: gray;
font-size: 12px;
}
.videocard{
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin-right: 15px;
  margin-bottom: 20px;
}
.video-title{
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 12px;
}
.creator-icon{
  display: inline-block;
  width: 50px;
  vertical-align: top;

}
.video-info{
  display: inline-block;
  width: 200px;
}
.profile-pic{
  width: 40px;
  border-radius: 50px;
  
}
.thumbnail-row{
  margin-bottom: 12px;
}